# The config recipe.
# https://rasa.com/docs/rasa/model-configuration/
recipe: default.v1

# Configuration for Rasa NLU.
# https://rasa.com/docs/rasa/nlu/components/
language: "vi"

pipeline:
  - name: WhitespaceTokenizer
  - name: RegexFeaturizer
  - name: LexicalSyntacticFeaturizer
  - name: EntitySynonymMapper
  - name: ResponseSelector
    epochs: 150
  - name: CountVectorsFeaturizer
    analyzer: char_wb
    min_ngram: 1
    max_ngram: 4
    epochs: 200
  - name: DIETClassifier
    epochs: 200
    batch_size: 64
    shuffle: true
    validation_split: 0.2
    random_seed: 42
    model_confidence: softmax
    intent_tokenization_flag: true
    intent_split_symbol: "+"
    model:
      type: tensorflow_embedding
      embedding_dim: 20
      hidden_layers_sizes: [512, 256, 128]
      rnn:
        unit_type: lstm
        num_units: 32
        direction: bidirectional
        dropout_rate: 0.2
        return_sequences: false
      dense_layer_sizes: [256, 128, 64]
      optimizer:
        type: adam
        learning_rate: 0.01
        decay: 0
        beta_1: 0.9
        beta_2: 0.999
        epsilon: 1e-8
      activation: softmax
      callbacks:
      - name: ModelCheckpoint
        filepath: ./model-rnn.h5
        monitor: val_loss
        save_best_only: true
      - name: EarlyStopping
        patience: 5
        monitor: val_loss
        restore_best_weights: true
        verbose: 0
    tensorboard_log_directory: "./tensorboard_logs"
    tensorboard_log_level: "epoch"
  - name: FallbackClassifier
    threshold: 0.35
    ambiguity_threshold: 0.1

policies:
  - name: MemoizationPolicy
  - name: TEDPolicy
    max_history: 5
    epochs: 150
  - name: RulePolicy